.container {
  h1 {
    font-size: 2rem;
    display: flex;
    top: 10px;
    padding: 1rem;
    justify-content: center;
    color: var(--text-color);
    position: relative;
  }
}
.text-response {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
